<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->   
    <title>Homepage</title>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">

    <!-- Optional theme -->
    <link rel="stylesheet"  type="text/css" href="{% static "css/bootstrap-theme.min.css" %}">

    <link rel="stylesheet" type="text/css" href="{% static "css/datepicker.css" %}">

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../../../static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript"  src="../../../static/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
            <script type="text/javascript">
            // When the document is ready
            $(document).ready(function () {
                
                $('#birthday').datepicker({
                    format: "yyyy-mm-dd"
                });  
            
            });
        </script>
   <link  type="text/css"  href="{% static "css/carousel.css" %}" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
      <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'users:index' %}">QuickActivity</a>
	  <a class="navbar-brand" href="{% url 'search:topsearch' %}">Events</a>
	  <a class="navbar-brand" href="{% url 'events:post' %}">Post</a>
	  <a class="navbar-brand" href="{% url 'aboutus:aboutus' %}">About us</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
	{% if user.is_authenticated %}
	<div>
	<a class="navbar-right navbar-brand" href="{% url 'users:logout' %}">Logout</a>
	<a class="navbar-right navbar-brand" href="{% url 'users:homepage' %}">Homepage</a>
	<a class="navbar-right navbar-brand" href="{% url 'users:homepage' %}">Hi, {{user.username}}!</a>
	</div>
	{% else %}
          <form class="navbar-form navbar-right" id="login_form" method="post" action="{% url 'users:login' %}" >
	{% csrf_token %}
            <div class="form-group">
              <input placeholder="Username" name="username" class="form-control" type="text" required="required">
            </div>
            <div class="form-group">
              <input placeholder="Password" name="password" class="form-control" type="password" required="required">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
	    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Register</button>
          </form>
	{% endif %}
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Register Now!</h4>
      </div>
      <div class="modal-body">
        {% if messages %}
          <div class="messages">
          {% for message in messages %}
          {% if message.tags == 'info' %}
          <div class="alert alert-info" role="alert">{{ message }}</div>
          {% endif %}
          {% endfor %}
          </div>
        {% endif %}
        <form id="user_form" method="post" action="{% url 'users:regist' %}" enctype="multipart/form-data">
	{% csrf_token %}
          <div class="form-group">
            <label  class="control-label"><span>*</span>Username:</label>
            <input type="text" name="username" class="form-control" size="30" required="required">
          </div>
          <div class="form-group">
            <label class="control-label"><span>*</span>Email Address:</label>
            <input type="email" name="email" class="form-control" size="30" required="required">
          </div>
          <div class="form-group">
            <label class="control-label"><span>*</span>Password:</label>
            <input type="password" name="password" class="form-control" size="30" required="required">
          </div>
          <div class="form-group">
            <label class="control-label"><span>*</span>Confirm password:</label>
            <input type="password" name="confirm_password" class="form-control" size="30" required="required">
          </div>
          <div class="form-group">
            <label class="control-label"><span>*</span>Birthday:</label>
            <input type="date" id="birthday" name="birthday" class="form-control" placeholder="mm/dd/yyyy or yyyy-mm-dd" size="30" required="required">
          </div>
          <div class="form-group">
            <label class="control-label">Do you want to make your username public:</label>
            <input type="checkbox" name="make_public_your_user_name" class="form-control">
          </div>
	<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
        </form>
      </div>
      
    </div>
  </div>
</div>

<div class="container" style="margin-top:51px;">

     {% if messages %}
      <div class="messages">
      {% for message in messages %}
      {% if message.tags == 'error' %}
        <div class="alert alert-info" role="alert">Login error: <br />{{ message }}</div>
      {% elif message.tags == 'info' %}
        <div class="alert alert-info" role="alert">Register error: <br />{{ message }}</div>
      {% else %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
      {% endif %}
      {% endfor %}
      </div>
      {% endif %}

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li class="" data-target="#myCarousel" data-slide-to="1"></li>
        <li class="active" data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
    

      <div class="carousel-inner" role="listbox">




        <!-- 1st carous pic -->
        <div class="item ">
          <img class="first-slide" src="{{ eventpopular.poster.url }}"  alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Most Popular Event:</h1>
              <h2>{{eventpopular.title}}</h2>
              <p>{{eventpopular.brief_intro}}</p>
	      {% if eventpopular %}
              <p><a class="btn btn-lg btn-primary" href="{% url 'events:detail' eventpopular.id %}" role="button">View Details</a></p>
	      {% endif %}
            </div>
          </div>
        </div>


        <!-- 2nd carous pic -->
	
        <div class="item">
          <img class="second-slide" src="{{ eventlatest.poster.url }}"  alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Latest Posted Event:</h1>
              <h2>{{eventlatest.title}}</h2>
              <p>{{eventlatest.brief_intro}}</p>
              {% if eventlatest %}
              <p><a class="btn btn-lg btn-primary" href="{% url 'events:detail' eventlatest.id %}" role="button">View Details</a></p>
              {% endif %}
            </div>
          </div>
        </div>

        <!-- 3rd carous pic -->
        <div class="item active">
          <img class="third-slide" src="{{ eventexpire.poster.url }}"  alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Expiring Soon Event:</h1>
              <h2>{{eventexpire.title}}</h2>
              <p>{{eventexpire.brief_intro}} </p>
	      {% if eventexpire %}
              <p><a class="btn btn-lg btn-primary" href="{% url 'events:detail' eventexpire.id %}" role="button">View Details</a></p>
	      {% endif %}
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
</div>



    <!--                       THE Category Layout Start         !!!!!!!!! -->
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">

        <!--           THE  Music  Category     -->
        <div class="col-lg-4">
          <img class="img-circle" src="{% static "img/music.jpg" %}" alt="music image" height="140" width="140">
          <h2>Music</h2>
          <p>Share your favourite music with more people!</p>
          <p><a class="btn btn-default" href="{% url 'search:musicsearch' %}" role="button">More »</a></p>
        </div><!-- /.col-lg-4 -->



        <!--           THE  Sport Category     -->
        <div class="col-lg-4">
          <img class="img-circle" src="{% static "img/sports.jpg" %}" alt="sports image" height="140" width="140">
          <h2>Sports</h2>
          <p>Find your sports partners!</p>
          <p><a class="btn btn-default" href="{% url 'search:sportsearch' %}" role="button">More »</a></p>
        </div><!-- /.col-lg-4 -->
        

        <div class="col-lg-4">
          <!--           THE  Food & Drink Category     -->
          <img class="img-circle" src="{% static "img/food.jpg" %}" alt="The food image" height="140" width="140">
          <h2>Food &amp; Drink</h2>
          <p>Enjoy your dinner with more lovely people!</p>
          <p><a class="btn btn-default" href="{% url 'search:food_drinksearch' %}" role="button">More »</a></p>
        </div><!-- /.col-lg-4 -->



        <!--           THE  Parties Category     -->
        <div class="col-lg-4">
          <img class="img-circle" src="{% static "img/parties.jpg" %}" alt="The Parties image" height="140" width="140">
          <h2>Parties</h2>
          <p>Join the party and have fun now!</p>
          <p><a class="btn btn-default" href="{% url 'search:partysearch' %}" role="button">More »</a></p>
        </div><!-- /.col-lg-4 -->




        <div class="col-lg-4">
          <img class="img-circle" src="{% static "img/arts.jpg" %}" alt="The Arts image" height="140" width="140">
          <h2>Arts</h2>
          <p>Share your arts and let more people see it!</p>
          <p><a class="btn btn-default" href="{% url 'search:artsearch' %}" role="button">More »</a></p>
        </div><!-- /.col-lg-4 -->




        <div class="col-lg-4">
          <img class="img-circle" src="{% static "img/business.jpg" %}" alt="The business image" height="140" width="140">
          <h2>Business</h2>
          <p>Explore your business ideas with more talent people!</p>
          <p><a class="btn btn-default" href="{% url 'search:bus_search' %}" role="button">More »</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

<!--                  THE Category Layout End          !    !!!!!!!!!!!!!!!  -->





      <!-- START THE FEATURETTES -->

<div class="jumbotron">
      <div class="container" style="text-align:center;"> 
  <form class="form-inline" method="post" action="{%url 'search:search' %}">
  {%csrf_token%}
    <div class="form-group">
      <label class="sr-only">Search for events:</label>
      <input type="text" class="form-control" name="Title" placeholder="Search for events">
   </div>
    <div class="form-group">
      <label class="sr-only">Location:</label>
      <input type="text" class="form-control" name="Location" placeholder="Location">
    </div>
   <div class="form-group">
      <label class="sr-only">Time:</label>
      <select class="form-control" name="Time" placeholder="Time">
      <option value='0'>Anytime</option>
      <option value="1">Today</option>
      <option value="3">Within 3 days</option>
      <option value="7">This Week</option>
      <option value="31">This Month</option>
    </select>
    </div>
    
   <br />

   <div class="form-group" >
   <label class="sr-only">Category:&nbsp;</label>
   Music: <input type="checkbox" name="isMusic"/>&nbsp;
   Sports: <input type="checkbox" name="isSports"/>&nbsp;
   Food&Drink: <input type="checkbox" name="isFooddrink"/>&nbsp;
   Party: <input type="checkbox" name="isParties"/>&nbsp;
   Arts: <input type="checkbox" name="isArts"/>&nbsp;
   Business: <input type="checkbox" name="isBusniess"/> &nbsp;&nbsp;
   </div> 
   <button type="submit" class="btn btn-default">Search</button>
  </form>
  </div>
</div>  

      <!-- /END THE FEATURETTES -->

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../../../static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript"  src="../../../static/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>

  <!-- FOOTER -->
      <footer>
      <div class="container">
        <br> <br>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p># Created by Group 6.</p>
      </div>
      </footer>
</html>
